/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  /*background-color: #333;*/
}
#header-block {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  /*background-image: url(https://i.imgur.com/LxYyGst.jpg);*/
  /*background-image: url("/img/kelly_and_belinda.jpg");*/
  background-image: url("/img/Story%20bridge%202.jpg");
  background-size:cover;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}


hr {
  height: 4px;
  color: #9995E8;
  background: #9995E8;
  font-size: 0;
  border: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.page h2 {
  color:#9995E8;
}

.page h3 {
  color:#9995E8;
}

.section-b {
  padding-top:80px;
  padding-bottom: 80px;
  /*border-color: ;*/
  border-top: solid 1px #E8E8E8;
  border-bottom: solid 1px #E8E8E8;
  background-color: #F2F2F2;
}

.section-a {
  padding-top:80px;
  padding-bottom: 80px;
}

.section-c {
  padding-top:80px;
  padding-bottom: 80px;
  /*border-color: ;*/
  border-top: solid 1px #4A4A4A;
  border-bottom: solid 1px #4A4A4A;
  background-color: #333333;
}

.section-c p {
    color: whitesmoke !important;
}

.page p {
  font-size: 19px;
  color: #2E2E2E;
}

p.description {
  font-style: italic;
}

p a,p a:active, p a:visited,p a:hover {
    color: #9995E8;
}

.center-children {
    text-align: center;
}

.center-children img {
    margin: 0 auto;
}

.row-space-above-xs {
  margin-top: 25px;
}

.row-space-above-sm {
  margin-top: 50px;
}
.row-space-above-lg {
  margin-top: 150px;
}


/** Button **/
.btn-default {
  border: none;
  background: #F2F2F2;
  border-radius: 0px;
}

.btn-default:hover {
  border: none;
  border-radius: 0px;
}


@media (min-width: 768px) {

}

@media (min-width: 992px) {

}
